:root {
    --bg: #d87093;
    --fg: #353c31;
    --element-fg: #28302d;
    --red: #de324c;
    --green: #54e438;
    --blue: #6d9efc;
    --text: #f5f5f5;
}

.red {
    color: #de324c;
}

.green {
    color: #54e438;
}

.blue {
    color: #6d9efc;
}

.red-bkg {
    background-color: #de324c;
}

.green-bkg {
    background-color: #54e438;
}

.blue-bkg {
    background-color: #6d9efc;
}

