<!-- https://www.youtube.com/watch?v=cwyTleTL06Y  meow - lvusm -->
<!-- https://www.youtube.com/watch?v=55BgZ1IORxw [ROBLOX] Jeff Syndicate - Hip Hop 1 -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo. - Gameplay Insana</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="{{ url_for('static', filename='dist/jquery-3.7.1.min.js') }}"></script>
</head>
<body>
    <main>
        <div id="dog-info-div">
            <div>
                <h1 id="dog-name"></h1>
                <picture id="dog-picture">
                    <img id="dog-image" src="{{ url_for('static', filename='assets/dog.jpg') }}" alt="Imagem de um cachorro">
                </picture>
                <br>
                <h2 id="dog-message" hidden></h2>
            </div>

            <hr class="separator">

            <div id="dog-status-div">
                <p id="dog-hungry">Fome: 0/6</p>
                <p id="dog-fatigue">Cansaço: 0/5</p>
                <p id="dog-sleeping">Está dormindo.</p>
                <p id="dog-warning"></p>
            </div>
        </div>

        <div id="buttons-div">
            <button type="button" id="previous-action-btn" class="btn orange-bkg"><-</button>
            <button type="button" id="action-btn" class="btn blue-bkg"></button>
            <button type="button" id="next-action-btn" class="btn orange-bkg">-></button>
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
</html>