<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameplay Insana</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <script src="{{ url_for('static', filename='dist/jquery-3.7.1.min.js') }}"></script>
</head>
<body>
    <main>
        <div id="dog-info-div">
            <div>
                <h1 id="dog-name"></h1>
                <h1 id="dog-breed"></h1>
                <picture id="dog-picture">
                    <img id="dog-image" src="{{ url_for('static', filename='assets/images/a_a_folou.jpg') }}" alt="Imagem de um cachorro">
                </picture>
                <br>
                <h2 id="dog-message" hidden></h2>
            </div>

            <hr class="separator">

            <div id="dog-status-div">
                <p id="dog-hungry">Fome: 0/6</p>
                <p id="dog-fatigue">Cansaço: 0/5</p>
                <p id="dog-sleeping">Está dormindo.</p>
                <p id="dog-warning"></p>
            </div>
        </div>

        <div id="buttons-div">
            <button type="button" id="previous-action-btn" class="btn orange-bkg"><-</button>
            <button type="button" id="action-btn" class="btn blue-bkg"></button>
            <button type="button" id="next-action-btn" class="btn orange-bkg">-></button>
        </div>
    </main>

    <audio id="game-music" loop autoplay src="{{ url_for('static', filename='assets/audios/musics/game.mp3') }}" type="audio/mp3"></audio>
    
    <audio id="eat-sound-effect" preload="auto" src="{{ url_for('static', filename='assets/audios/sound_effects/pou_eating.mp3') }}" type="audio/mp3"></audio>
    <audio id="nah-sound-effect" preload="auto" src="{{ url_for('static', filename='assets/audios/sound_effects/pou_nah.mp3') }}" type="audio/mp3"></audio>
    <audio id="sleep-sound-effect" loop preload="auto" src="{{ url_for('static', filename='assets/audios/sound_effects/dog_sleeping_meme.mp3') }}" type="audio/mp3"></audio>
    <audio id="yawning-sound-effect" preload="auto" src="{{ url_for('static', filename='assets/audios/sound_effects/yawning_sound.mp3') }}" type="audio/mp3"></audio>
</body>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/gameElements.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/gameActionButtons.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/gameSounds.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/gameDog.js') }}"></script>
<script src="{{ url_for('static', filename='js/game/game.js') }}"></script>
</html>